<h1>Edition du profil</h1>

<%= form_for(@user) do |f| %>
 <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :nom, "Nom" %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :email, "eMail"  %><br />
    <%= f.text_field :email %>
  </div>


  <div class="field">
    <%= f.label :date_naissance %><br />
    <%= f.text_field :date_naissance %>
  </div>

  <div class="field">
    <%= f.label :poids_actuel %><br />
    <%= f.text_field :poids_actuel %>
  </div>

  <div class="field">
    <%= f.label :poids_ideal %><br />
    <%= f.text_field :poids_ideal %>
  </div>

  <div class="field">
    <%= f.label :password, "Mot de passe" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation,  "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">changer</a>
</div>
